extends layout
block content
  div
    .col-md-7
      ul.nav.nav-tabs
        li: a(href='#overview', data-toggle='tab') Overview
        li.active: a(href='#stream', data-toggle='tab') Stream
      .tab-content
        .tab-pane#overview
          p You are looking good
        .tab-pane.active#stream
          .row
            .col-md-8.col-md-offset-2
              include composer
          include stream
    .col-md-3
      include sidebar_profile