li.notification-item(ng-repeat='notification in notifications')
    a.media(href='#')
        img.pull-left.media-object(ng-src)
        .media-body
            | This is some <b>long bold text</b> here.
            | This is some <b>long bold text</b> here.
            | This is some <b>long bold text</b> here.
            br
            small.text-muted 2 mins ago