aside.col-md-2
    ul.list-group
        li.list-group-item Text
            //- form.navbar-form.navbar-left(action="/api/nutridb/foods")
            //-     .input-group
            //-         input.form-control(type='text', name='q', placeholder='Search foods')
            //-         span.input-group-btn
            //-             button.btn.btn-default(type='submit')
            //-                 i.fa.fa-search
        li.list-group-item Text